body {
  background-color: rgb(179, 248, 248);
}

#countLabel {
  display: block;
  font-size: 10em;
  text-align: center;
}

#btnContainer {
  text-align: center;
}

.button {
  font-size: 1.5em;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  padding: 5px 20px;
  background-color: cadetblue;
  color: floralwhite;
}
